.view-layout {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  justify-content: center;
  align-items: start;
  gap: 8px;
  height: 350px;
}

.grag-area {
  height: 500px;
}

.file-dics {
  width: 300px;
}

.sm-hide {
  visibility: visible;
}

@media (max-width: 640px) {
  .sm-hide {
    visibility: hidden;
  }
}
