.view-layout {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 330px;
}

.grag-area {
  height: 500px;
}

.file-dics {
  width: 300px;
}
